@{
  Layout = "_Layout";
}

@using DoctorsOffice.Models;
@model IEnumerable<DoctorsOffice.Models.Patient>;

<h1>Patients for @User.Identity.Name</h1>

@if (!Model.Any())
{
  <h3>No patients have been added yet!</h3>
} 

@foreach (Patient patient in Model)
{
  <li>@Html.ActionLink($"{patient.FirstName} {patient.LastName}", "Details", new { id = patient.PatientId }) </li>
}

<p>@Html.ActionLink("Add new patient", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>
